.logo{
    height: 80px;
    height: 80px;
  

}
*{
    padding: 0;
    margin: 0;
}
.search{
    width: 300px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 40PX;
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;

}
.con{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.p{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
