body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
}
.search-bar{
    width: 8cm;
    height: 1cm;
    border:1px solid gray;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0.5px;
    padding: 3px;
}
.flex1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.font{
    font-size: 13px;
    font-weight: bold;
}
.red{
    background-color: red;
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    margin: 0px 0px 0px 24px;
}
.flex2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    font-size: 15px;
}